<h1>Alignments</h1>

<p>
A reference was compiled and it was aligned to both hg19 and hg38.
The results were stuffed into a database.
</p>

<pre>
bowtie2 --very-sensitive -x hg19 --no-unal --all -f -U SVAs_and_HERVs_KWHE.fasta -S SVAs_and_HERVs_KWHE.hg19.vs.sam

bowtie2 --very-sensitive-local -x hg19 --no-unal --all -f -U SVAs_and_HERVs_KWHE.fasta -S SVAs_and_HERVs_KWHE.hg19.vsl.sam

bowtie2 --very-sensitive -x hg38 --no-unal --all -f -U SVAs_and_HERVs_KWHE.fasta -S SVAs_and_HERVs_KWHE.hg38.vs.sam

bowtie2 --very-sensitive-local -x hg38 --no-unal --all -f -U SVAs_and_HERVs_KWHE.fasta -S SVAs_and_HERVs_KWHE.hg38.vsl.sam

gawk 'BEGIN{OFS=","}
( FNR == 1 ){ ref=(FILENAME~/hg19/)?"hg19":"hg38"; }
( /^@/ ){ next; }
{
	split($6,a,/[[:alpha:]=]/,s);
	eq=l=0;
	for(i=1;i&lt;=length(s);i++){ l+=a[i]; if( s[i] == "=" ) eq+=a[i]; }
	percent_eq=100.0*eq/l;
	reverse=and($2,16)==16;
	ed="";
	for(i=12;i&lt;=NF;i++){ split($i,a,":"); if( a[1]=="NM" ) ed=a[3]; }
	percent_ed=100.0*ed/l;
	print $1,$2,reverse,ref,$3,$4,$6,eq,l,percent_eq,ed,percent_ed;
}' SVAs_and_HERVs_KWHE.hg*.vs*.sam &gt; alignments.csv


#	Development
mysql -u root aligned_development -e 'TRUNCATE alignments'

mysql -u root --local-infile aligned_development -e "
	LOAD DATA LOCAL INFILE 'alignments.csv'
	INTO TABLE alignments FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n'
	(sequence,flags,reverse,reference,chromosome,position,cigar,length_eq,length_all,percent_eq,edit_distance,percent_ed)"

#	Or Production
mysql -u root aligned_production -e 'TRUNCATE alignments'

mysql -u root -p --local-infile aligned_production -e "
	LOAD DATA LOCAL INFILE 'alignments.csv'
	INTO TABLE alignments FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n'
	(sequence,flags,reverse,reference,chromosome,position,cigar,length_eq,length_all,percent_eq,edit_distance,percent_ed)"
</pre>

<%= link_to 'Search the results', alignments_path %>
