<h1>Alignments</h1>

<p>
A reference was compiled and it was aligned to both hg19 and hg38.
The results were stuffed into a database.
</p>

<pre>

bowtie2 --very-sensitive-local -x hg19 --no-unal --all -f -U SVAs_and_HERVs_KWHE.fasta -S SVAs_and_HERVs_KWHE.hg19.sam

bowtie2 --very-sensitive-local -x hg38 --no-unal --all -f -U SVAs_and_HERVs_KWHE.fasta -S SVAs_and_HERVs_KWHE.hg38.sam

samtools view SVAs_and_HERVs_KWHE.hg19.sam | gawk 'BEGIN{OFS=","}{
	split($6,a,/[[:alpha:]]/,s);
	m=l=0;
	for(i=1;i&lt;=length(s);i++){
		l+=a[i];
		if( s[i] == "M" )
			m+=a[i];
	}
	percent_m=100.0*m/l;
	reverse=and($2,16)==16;
	print $1,$2,reverse,"hg19",$3,$4,$6,m,l,percent_m;
}' &gt; hg19_alignments.csv

samtools view SVAs_and_HERVs_KWHE.hg38.sam | gawk 'BEGIN{OFS=","}{
	split($6,a,/[[:alpha:]]/,s);
	m=l=0;
	for(i=1;i&lt;=length(s);i++){
		l+=a[i];
		if( s[i] == "M" )
			m+=a[i];
	}
	percent_m=100.0*m/l;
	reverse=and($2,16)==16;
	print $1,$2,reverse,"hg38",$3,$4,$6,m,l,percent_m;
}' &gt; hg38_alignments.csv


mysql -u root aligned_development -e 'TRUNCATE alignments'


mysql -u root --local-infile aligned_development -e "
	LOAD DATA LOCAL INFILE 'hg19_alignments.csv' INTO TABLE alignments
	FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n'
	(sequence,flags,reverse,reference,chromosome,position,cigar,length_m,length_all,percent_m)"

mysql -u root --local-infile aligned_development -e "
	LOAD DATA LOCAL INFILE 'hg38_alignments.csv' INTO TABLE alignments
	FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n'
	(sequence,flags,reverse,reference,chromosome,position,cigar,length_m,length_all,percent_m)"

</pre>

<%= link_to 'Search the results', alignments_path %>
